<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>C</key>
    <integer>-39</integer>
    <key>L</key>
    <integer>31</integer>
    <key>N</key>
    <integer>-23</integer>
    <key>R</key>
    <integer>23</integer>
    <key>T</key>
    <integer>23</integer>
    <key>Z</key>
    <integer>5</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>J</key>
    <integer>39</integer>
    <key>L</key>
    <integer>16</integer>
    <key>R</key>
    <integer>27</integer>
  </dict>
  <key>C</key>
  <dict>
    <key>C</key>
    <integer>-31</integer>
    <key>E</key>
    <integer>-31</integer>
    <key>L</key>
    <integer>16</integer>
    <key>O</key>
    <integer>-31</integer>
  </dict>
  <key>D</key>
  <dict>
    <key>O</key>
    <integer>-27</integer>
  </dict>
  <key>E</key>
  <dict>
    <key>A</key>
    <integer>-16</integer>
    <key>C</key>
    <integer>-31</integer>
    <key>D</key>
    <integer>8</integer>
    <key>N</key>
    <integer>-31</integer>
    <key>R</key>
    <integer>31</integer>
    <key>S</key>
    <integer>-23</integer>
    <key>period</key>
    <integer>-39</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>T</key>
    <integer>39</integer>
  </dict>
  <key>G</key>
  <dict>
    <key>N</key>
    <integer>-23</integer>
    <key>O</key>
    <integer>-31</integer>
  </dict>
  <key>H</key>
  <dict>
    <key>A</key>
    <integer>16</integer>
    <key>E</key>
    <integer>23</integer>
    <key>O</key>
    <integer>-23</integer>
  </dict>
  <key>I</key>
  <dict>
    <key>B</key>
    <integer>-22</integer>
    <key>C</key>
    <integer>-41</integer>
    <key>E</key>
    <integer>-23</integer>
    <key>O</key>
    <integer>-31</integer>
    <key>P</key>
    <integer>-39</integer>
    <key>S</key>
    <integer>-39</integer>
    <key>Z</key>
    <integer>-31</integer>
  </dict>
  <key>J</key>
  <dict>
    <key>O</key>
    <integer>-16</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>U</key>
    <integer>-50</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>A</key>
    <integer>22</integer>
    <key>O</key>
    <integer>-31</integer>
  </dict>
  <key>M</key>
  <dict>
    <key>A</key>
    <integer>16</integer>
    <key>O</key>
    <integer>-16</integer>
  </dict>
  <key>N</key>
  <dict>
    <key>C</key>
    <integer>-39</integer>
    <key>E</key>
    <integer>-23</integer>
    <key>O</key>
    <integer>-31</integer>
  </dict>
  <key>O</key>
  <dict>
    <key>B</key>
    <integer>-23</integer>
    <key>D</key>
    <integer>-16</integer>
    <key>I</key>
    <integer>-31</integer>
    <key>N</key>
    <integer>-39</integer>
    <key>O</key>
    <integer>-31</integer>
    <key>P</key>
    <integer>-31</integer>
    <key>S</key>
    <integer>-47</integer>
    <key>U</key>
    <integer>-23</integer>
    <key>V</key>
    <integer>-38</integer>
    <key>W</key>
    <integer>-22</integer>
    <key>X</key>
    <integer>-22</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>O</key>
    <integer>-39</integer>
    <key>P</key>
    <integer>16</integer>
    <key>S</key>
    <integer>22</integer>
    <key>T</key>
    <integer>23</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>C</key>
    <integer>-55</integer>
    <key>D</key>
    <integer>23</integer>
    <key>O</key>
    <integer>-22</integer>
    <key>R</key>
    <integer>-23</integer>
    <key>S</key>
    <integer>-31</integer>
  </dict>
  <key>S</key>
  <dict>
    <key>C</key>
    <integer>-47</integer>
    <key>E</key>
    <integer>16</integer>
    <key>H</key>
    <integer>-31</integer>
    <key>I</key>
    <integer>-39</integer>
    <key>N</key>
    <integer>-39</integer>
    <key>O</key>
    <integer>-42</integer>
    <key>U</key>
    <integer>-47</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>A</key>
    <integer>16</integer>
    <key>E</key>
    <integer>16</integer>
    <key>H</key>
    <integer>16</integer>
    <key>I</key>
    <integer>-16</integer>
    <key>R</key>
    <integer>20</integer>
    <key>T</key>
    <integer>63</integer>
  </dict>
  <key>U</key>
  <dict>
    <key>B</key>
    <integer>23</integer>
    <key>C</key>
    <integer>-47</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>O</key>
    <integer>-23</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>A</key>
    <integer>39</integer>
    <key>D</key>
    <integer>55</integer>
    <key>Z</key>
    <integer>16</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>E</key>
    <integer>-23</integer>
    <key>Y</key>
    <integer>9</integer>
  </dict>
</dict>
</plist>
