<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>hyphen</key>
  <dict>
    <key>public.kern2.A</key>
    <integer>-163</integer>
    <key>public.kern2.B</key>
    <integer>-125</integer>
    <key>public.kern2.C</key>
    <integer>-139</integer>
    <key>public.kern2.D</key>
    <integer>-139</integer>
    <key>public.kern2.E</key>
    <integer>-168</integer>
    <key>public.kern2.F</key>
    <integer>-139</integer>
    <key>public.kern2.G</key>
    <integer>-163</integer>
    <key>public.kern2.H</key>
    <integer>-158</integer>
    <key>public.kern2.I</key>
    <integer>-221</integer>
    <key>public.kern2.J</key>
    <integer>-154</integer>
    <key>public.kern2.K</key>
    <integer>-149</integer>
    <key>public.kern2.L</key>
    <integer>-211</integer>
    <key>public.kern2.M</key>
    <integer>-149</integer>
    <key>public.kern2.N</key>
    <integer>-139</integer>
    <key>public.kern2.O</key>
    <integer>-134</integer>
    <key>public.kern2.P</key>
    <integer>-158</integer>
    <key>public.kern2.Q</key>
    <integer>-134</integer>
    <key>public.kern2.R</key>
    <integer>-202</integer>
    <key>public.kern2.S</key>
    <integer>-154</integer>
    <key>public.kern2.T</key>
    <integer>-202</integer>
    <key>public.kern2.U</key>
    <integer>-173</integer>
    <key>public.kern2.V</key>
    <integer>-154</integer>
    <key>public.kern2.W</key>
    <integer>-158</integer>
    <key>public.kern2.X</key>
    <integer>-163</integer>
    <key>public.kern2.Y</key>
    <integer>-149</integer>
    <key>public.kern2.Z</key>
    <integer>-159</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>hyphen</key>
    <integer>-134</integer>
    <key>public.kern2.D</key>
    <integer>-24</integer>
    <key>public.kern2.E</key>
    <integer>-5</integer>
    <key>public.kern2.L</key>
    <integer>-29</integer>
    <key>public.kern2.M</key>
    <integer>-10</integer>
    <key>public.kern2.N</key>
    <integer>19</integer>
    <key>public.kern2.R</key>
    <integer>-24</integer>
    <key>public.kern2.T</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.B</key>
  <dict>
    <key>hyphen</key>
    <integer>-130</integer>
    <key>public.kern2.L</key>
    <integer>-34</integer>
    <key>public.kern2.O</key>
    <integer>-34</integer>
    <key>public.kern2.U</key>
    <integer>-48</integer>
  </dict>
  <key>public.kern1.C</key>
  <dict>
    <key>hyphen</key>
    <integer>-120</integer>
    <key>public.kern2.A</key>
    <integer>-14</integer>
    <key>public.kern2.E</key>
    <integer>-29</integer>
    <key>public.kern2.H</key>
    <integer>-29</integer>
    <key>public.kern2.I</key>
    <integer>-34</integer>
    <key>public.kern2.O</key>
    <integer>-38</integer>
    <key>public.kern2.R</key>
    <integer>-34</integer>
    <key>public.kern2.T</key>
    <integer>-53</integer>
    <key>public.kern2.U</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>hyphen</key>
    <integer>-144</integer>
    <key>public.kern2.I</key>
    <integer>-29</integer>
    <key>public.kern2.O</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.E</key>
  <dict>
    <key>hyphen</key>
    <integer>-120</integer>
    <key>public.kern2.D</key>
    <integer>-19</integer>
    <key>public.kern2.E</key>
    <integer>-43</integer>
    <key>public.kern2.H</key>
    <integer>-19</integer>
    <key>public.kern2.I</key>
    <integer>-34</integer>
    <key>public.kern2.L</key>
    <integer>-67</integer>
    <key>public.kern2.N</key>
    <integer>-24</integer>
    <key>public.kern2.P</key>
    <integer>-34</integer>
    <key>public.kern2.Q</key>
    <integer>-38</integer>
    <key>public.kern2.R</key>
    <integer>-53</integer>
    <key>public.kern2.S</key>
    <integer>-24</integer>
    <key>public.kern2.T</key>
    <integer>-38</integer>
    <key>public.kern2.U</key>
    <integer>-24</integer>
    <key>public.kern2.X</key>
    <integer>-67</integer>
  </dict>
  <key>public.kern1.F</key>
  <dict>
    <key>hyphen</key>
    <integer>-149</integer>
    <key>public.kern2.E</key>
    <integer>-19</integer>
    <key>public.kern2.L</key>
    <integer>-38</integer>
    <key>public.kern2.O</key>
    <integer>-34</integer>
    <key>public.kern2.R</key>
    <integer>-29</integer>
    <key>public.kern2.T</key>
    <integer>-29</integer>
    <key>public.kern2.U</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.G</key>
  <dict>
    <key>hyphen</key>
    <integer>-110</integer>
    <key>public.kern2.I</key>
    <integer>-24</integer>
    <key>public.kern2.L</key>
    <integer>-24</integer>
  </dict>
  <key>public.kern1.H</key>
  <dict>
    <key>hyphen</key>
    <integer>-134</integer>
    <key>public.kern2.E</key>
    <integer>-19</integer>
    <key>public.kern2.I</key>
    <integer>-24</integer>
    <key>public.kern2.O</key>
    <integer>-24</integer>
  </dict>
  <key>public.kern1.I</key>
  <dict>
    <key>hyphen</key>
    <integer>-120</integer>
    <key>public.kern2.A</key>
    <integer>14</integer>
    <key>public.kern2.C</key>
    <integer>19</integer>
    <key>public.kern2.N</key>
    <integer>19</integer>
    <key>public.kern2.S</key>
    <integer>14</integer>
    <key>public.kern2.T</key>
    <integer>-19</integer>
  </dict>
  <key>public.kern1.J</key>
  <dict>
    <key>hyphen</key>
    <integer>-154</integer>
    <key>public.kern2.O</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>hyphen</key>
    <integer>-144</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>hyphen</key>
    <integer>-168</integer>
    <key>public.kern2.A</key>
    <integer>-34</integer>
    <key>public.kern2.D</key>
    <integer>-29</integer>
    <key>public.kern2.I</key>
    <integer>-29</integer>
    <key>public.kern2.L</key>
    <integer>-43</integer>
    <key>public.kern2.O</key>
    <integer>-52</integer>
  </dict>
  <key>public.kern1.M</key>
  <dict>
    <key>hyphen</key>
    <integer>-125</integer>
    <key>public.kern2.E</key>
    <integer>-24</integer>
    <key>public.kern2.I</key>
    <integer>-19</integer>
    <key>public.kern2.O</key>
    <integer>-24</integer>
    <key>public.kern2.P</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.N</key>
  <dict>
    <key>hyphen</key>
    <integer>-134</integer>
    <key>public.kern2.C</key>
    <integer>14</integer>
    <key>public.kern2.I</key>
    <integer>-29</integer>
    <key>public.kern2.O</key>
    <integer>-43</integer>
    <key>public.kern2.Q</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.O</key>
  <dict>
    <key>hyphen</key>
    <integer>-115</integer>
    <key>public.kern2.I</key>
    <integer>-38</integer>
    <key>public.kern2.L</key>
    <integer>-48</integer>
    <key>public.kern2.R</key>
    <integer>-19</integer>
    <key>public.kern2.U</key>
    <integer>-19</integer>
  </dict>
  <key>public.kern1.P</key>
  <dict>
    <key>hyphen</key>
    <integer>-130</integer>
    <key>public.kern2.E</key>
    <integer>-14</integer>
    <key>public.kern2.I</key>
    <integer>-29</integer>
    <key>public.kern2.L</key>
    <integer>-72</integer>
    <key>public.kern2.O</key>
    <integer>-29</integer>
    <key>public.kern2.P</key>
    <integer>-38</integer>
    <key>public.kern2.R</key>
    <integer>-19</integer>
    <key>public.kern2.T</key>
    <integer>-53</integer>
  </dict>
  <key>public.kern1.Q</key>
  <dict>
    <key>hyphen</key>
    <integer>-125</integer>
    <key>public.kern2.U</key>
    <integer>-14</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>hyphen</key>
    <integer>-211</integer>
    <key>public.kern2.A</key>
    <integer>-34</integer>
    <key>public.kern2.C</key>
    <integer>-29</integer>
    <key>public.kern2.E</key>
    <integer>-34</integer>
    <key>public.kern2.F</key>
    <integer>-58</integer>
    <key>public.kern2.I</key>
    <integer>-38</integer>
    <key>public.kern2.L</key>
    <integer>-72</integer>
    <key>public.kern2.M</key>
    <integer>-38</integer>
    <key>public.kern2.N</key>
    <integer>-29</integer>
    <key>public.kern2.O</key>
    <integer>-62</integer>
    <key>public.kern2.R</key>
    <integer>-43</integer>
    <key>public.kern2.S</key>
    <integer>-29</integer>
    <key>public.kern2.T</key>
    <integer>-72</integer>
    <key>public.kern2.U</key>
    <integer>-58</integer>
  </dict>
  <key>public.kern1.S</key>
  <dict>
    <key>hyphen</key>
    <integer>-139</integer>
    <key>public.kern2.A</key>
    <integer>-29</integer>
    <key>public.kern2.E</key>
    <integer>-48</integer>
    <key>public.kern2.H</key>
    <integer>-82</integer>
    <key>public.kern2.I</key>
    <integer>-38</integer>
    <key>public.kern2.O</key>
    <integer>-86</integer>
    <key>public.kern2.P</key>
    <integer>-101</integer>
    <key>public.kern2.S</key>
    <integer>-34</integer>
    <key>public.kern2.T</key>
    <integer>-53</integer>
    <key>public.kern2.U</key>
    <integer>-29</integer>
    <key>public.kern2.W</key>
    <integer>-82</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>hyphen</key>
    <integer>-163</integer>
    <key>public.kern2.A</key>
    <integer>-24</integer>
    <key>public.kern2.E</key>
    <integer>-53</integer>
    <key>public.kern2.H</key>
    <integer>-86</integer>
    <key>public.kern2.I</key>
    <integer>-62</integer>
    <key>public.kern2.L</key>
    <integer>-115</integer>
    <key>public.kern2.O</key>
    <integer>-82</integer>
    <key>public.kern2.R</key>
    <integer>-43</integer>
    <key>public.kern2.T</key>
    <integer>-86</integer>
    <key>public.kern2.U</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.U</key>
  <dict>
    <key>hyphen</key>
    <integer>-96</integer>
    <key>public.kern2.L</key>
    <integer>-14</integer>
    <key>public.kern2.M</key>
    <integer>29</integer>
    <key>public.kern2.P</key>
    <integer>-14</integer>
    <key>public.kern2.T</key>
    <integer>-34</integer>
    <key>public.kern2.Z</key>
    <integer>-19</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>hyphen</key>
    <integer>-139</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>hyphen</key>
    <integer>-110</integer>
    <key>public.kern2.E</key>
    <integer>-19</integer>
    <key>public.kern2.H</key>
    <integer>-24</integer>
    <key>public.kern2.I</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.X</key>
  <dict>
    <key>hyphen</key>
    <integer>-182</integer>
    <key>public.kern2.C</key>
    <integer>-24</integer>
    <key>public.kern2.E</key>
    <integer>-43</integer>
    <key>public.kern2.I</key>
    <integer>-34</integer>
    <key>public.kern2.Q</key>
    <integer>-106</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>hyphen</key>
    <integer>-168</integer>
    <key>public.kern2.E</key>
    <integer>-48</integer>
  </dict>
  <key>public.kern1.Z</key>
  <dict>
    <key>hyphen</key>
    <integer>-158</integer>
    <key>public.kern2.Z</key>
    <integer>-38</integer>
  </dict>
</dict>
</plist>
